import numpy as np
import pandas as pd

imp_fert=pd.read_csv('~/git/BD/temp/temp_in.csv')
imp_fert

In [ ]:
def sparse_matrix(imp_fert):
    imp_fert=imp_fert[['CO_ANO', 'CO_MES', 'CO_NCM', 'SG_UF_NCM', 'KG_LIQUIDO', 'VL_FOB']]
    
    imp_fert.insert(0,'date',pd.to_datetime(imp_fert.CO_ANO.astype(str)+'-'+imp_fert.CO_MES.astype(str)+'-1'))
    
    data_ini=imp_fert.date.min()
    data_fim=imp_fert.date.max()
    
    date_cols=['CO_ANO','CO_MES']
    cat_cols=['CO_NCM','SG_UF_NCM']
    quanti_cols=['KG_LIQUIDO','VL_FOB']
    
    # Matriz Esparsa
    imp_fert.loc[:,date_cols+cat_cols]=imp_fert[date_cols+cat_cols].astype('category')
    imp_fert=imp_fert.groupby(by=date_cols+cat_cols,observed=False)[quanti_cols].sum().reset_index()
    
    
    
    imp_fert[date_cols]=imp_fert[date_cols].astype(int)
    imp_fert[cat_cols]=imp_fert[cat_cols].astype(str)
    
    imp_fert.insert(0,'date',pd.to_datetime(imp_fert.CO_ANO.astype(str)+'-'+imp_fert.CO_MES.astype(str)+'-1'))
    
    imp_fert=imp_fert[(imp_fert.date>=data_ini)&(imp_fert.date<=data_fim)]
    
    return imp_fert

          date  CO_ANO  CO_MES       CO_NCM SG_UF_NCM  KG_LIQUIDO    VL_FOB
3   1997-04-01    1997       4  31021010-hi        PR     2214922    401803
4   1997-05-01    1997       5  31021010-hi        PR           0         0
5   1997-06-01    1997       6  31021010-hi        PR     5203080    879321
6   1997-07-01    1997       7  31021010-hi        PR     2464415    375853
7   1997-08-01    1997       8  31021010-hi        PR     2173210    303597
..         ...     ...     ...          ...       ...         ...       ...
323 2023-12-01    2023      12  31021010-hi        PR    91780703  32253192
324 2024-01-01    2024       1  31021010-hi        PR   124615102  38959212
325 2024-02-01    2024       2  31021010-hi        PR    61974300  21748497
326 2024-03-01    2024       3  31021010-hi        PR    13494832   4999468
327 2024-04-01    2024       4  31021010-hi        PR    33391957  11127911

[325 rows x 7 columns]

In [ ]:
print('*** sparse_matrix(imp_fert) function available ***')

imp_fert.to_csv('~/git/BD/temp/temp_out.csv',index=False)