In [1]:
import time
ini=time.time()
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import metrics
import matplotlib.pyplot as plt

In [2]:
def un_dumm_sub(pred_dumm):
    pred=pd.concat([pred_dumm.select_dtypes(exclude='bool'),pd.from_dummies(pred_dumm.select_dtypes(include='bool'),sep='~')],axis=1)
    pred=pred[pred.columns[~pred.columns.str.contains('~')]]
    return pred

pred_c=un_dumm_sub(pd.read_csv('~/git/BD/temp/pred_c.csv'))

pred_r=un_dumm_sub(pd.read_csv('~/git/BD/temp/pred_r.csv'))

pred=pred_c.merge(pred_r,how='outer')

pred.date=pred.date.astype('datetime64[ns]')

pred['CO_ANO']=pred.date.dt.year

pred.head(1)

,oc,oc_pred,date,md_c,l_min_y,indv,l_max_y,ad_col,CO_MES,nick,KG_LIQUIDO,KG_LIQUIDO_pred,md_r,CO_ANO
0,0,1,2012-07-01,1,15,0,15,0,7,MAP_k,NaN,NaN,NaN,2012

In [3]:
scores=pd.DataFrame()
for mes in pred.CO_MES.unique():
    for n in pred.nick.unique():
        for mdc in pred.md_c.unique():
            for mdr in pred.md_r.unique():
                for ad in pred.ad_col.unique():
                    for indv in pred.indv.unique():
                        pred_t=pred[
                        (pred.CO_MES==mes)&
                        (pred.nick==n)&
                        (pred.md_c==mdc)&
                        (pred.md_r==mdr)&
                        (pred.ad_col==ad)&
                        (pred.indv==indv)]
                        ac=round(metrics.accuracy_score(pred_t.oc,pred_t.oc_pred),2)
                        pr=round(metrics.precision_score(pred_t.oc,pred_t.oc_pred),2)
                        rc=round(metrics.recall_score(pred_t.oc,pred_t.oc_pred),2)
                        pred_t=pred_t[(pred_t.oc==1)&(pred_t.oc_pred==1)]
                        if len(pred_t)>0:
                            r2=metrics.r2_score(pred_t.KG_LIQUIDO,pred_t.KG_LIQUIDO_pred)
                            mape=metrics.mean_absolute_percentage_error(pred_t.KG_LIQUIDO,pred_t.KG_LIQUIDO_pred)
                        else:
                            r2=np.nan
                        q=pd.DataFrame({'CO_MES':[mes],'nick':[n],'md_c':[mdc],'md_r':[mdr],'accuracy':[ac],
                                        'precision':[pr],'recall':[rc],'r2':[r2],'ad_col':[ad],'indv':[indv]
                                       })
                        scores=pd.concat([q,scores])

scores.CO_MES=scores.CO_MES.astype(int)
scores=scores.sort_values(by=['CO_MES','nick'],ascending=False)
scores.to_csv('~/git/BD/temp/score.csv',index=False)
scores

,CO_MES,nick,md_c,md_r,accuracy,precision,recall,r2,ad_col,indv
0,7,UREIA_k,1,1.0,0.43,1.0,0.43,-0.622163,1,1
0,7,UREIA_k,1,1.0,1.00,1.0,1.00,-1.101805,1,0
0,7,UREIA_k,1,1.0,0.57,1.0,0.57,-1.051425,0,1
0,7,UREIA_k,1,1.0,1.00,1.0,1.00,-1.072281,0,0
0,7,UREIA_k,1,2.0,0.43,1.0,0.43,-0.522146,1,1
...,...,...,...,...,...,...,...,...,...,...
0,7,MAP_k,1,13.0,1.00,1.0,1.00,-0.972116,0,0
0,7,MAP_k,1,NaN,NaN,0.0,0.00,NaN,1,1
0,7,MAP_k,1,NaN,NaN,0.0,0.00,NaN,1,0
0,7,MAP_k,1,NaN,NaN,0.0,0.00,NaN,0,1
0,7,MAP_k,1,NaN,NaN,0.0,0.00,NaN,0,0

In [4]:
r2_pos_class_pos=scores[(scores.r2>0)&(scores.accuracy>.95)&(scores.precision>.95)&(scores.recall>.95)].reset_index(drop=True)

r2_pos_class_out=scores[(scores.r2>0)&((scores.accuracy<=.95)|(scores.precision<=.95)|(scores.recall<=.95))].reset_index(drop=True)

r2_out_class_pos=scores[(scores.r2<=0)&(scores.accuracy>.95)&(scores.precision>.95)&(scores.recall>.95)].reset_index(drop=True)

r2_out_class_out=scores[(scores.r2<=0)&((scores.accuracy<=.95)|(scores.precision<=.95)|(scores.recall<=.95))].reset_index(drop=True)

In [5]:
print('Aprovados: ',len(r2_pos_class_pos[['CO_MES','nick']].drop_duplicates()))

display(r2_pos_class_pos.groupby(by=['md_c','md_r','ad_col','indv']).CO_MES.count()\
        .reset_index().sort_values(by='CO_MES',ascending=False).reset_index(drop=True))

Aprovados:  2

    md_c  md_r  ad_col  indv  CO_MES
0      1   1.0       0     0       1
1      1   1.0       0     1       1
2      1   1.0       1     0       1
3      1   1.0       1     1       1
4      1   2.0       0     0       1
5      1   2.0       0     1       1
6      1   2.0       1     0       1
7      1   3.0       0     0       1
8      1   3.0       0     1       1
9      1   3.0       1     0       1
10     1   5.0       0     0       1
11     1   5.0       0     1       1
12     1   5.0       1     0       1
13     1   8.0       0     0       1
14     1   8.0       0     1       1
15     1   8.0       1     0       1
16     1  13.0       0     0       1
17     1  13.0       0     1       1
18     1  13.0       1     0       1

In [6]:
len(r2_pos_class_out[['CO_MES','nick']].drop_duplicates())

1

In [7]:
len(r2_out_class_pos[['CO_MES','nick']].drop_duplicates())

3

In [8]:
len(r2_out_class_out[['CO_MES','nick']].drop_duplicates())

2